body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.ryu {
	float: left;
	width: 659px;
	height: 494px;

}
.ryu-ready, .ryu-still, .ryu-hadouken, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-hadouken, .ryu-cool {
	display: none;
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-hadouken {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-hadouken, .ryu-cool {
	background-repeat: no-repeat;
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 165px;
	left: 525px;
}
.text-content {
	position: absolute;
	left: 560px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}
.gameplay p {
	text-transform: uppercase;
	font-family: 'Shadows Into Light' sans-serif;
	font-size: 37px;
	line-height: 50px;
	width: 50%;
}
.gameplay p + p{
	margin-left: 275px;
}
.logo {
	background-image: url('../images/logo.png');
	width: 740px;
	height: 363px;
	display: none;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.jquery-logo {
	background-image: url('../images/jquery-logo.png');
	width: 500px;
	height: 300px;
	display: none;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.courtesy, .gameplay {
	display: none;
	font-family: 'Shadows Into Light' sans-serif;
	font-size: 50px;
	width: 600px;
}
.courtesy {
	text-align: center;
	margin-top: 100px;
}
